{{ define "content" }}
{{ partial "outputformats" . }}
<div class="content">
  <nav aria-label="article list" class="markdown">
    <ul role="menubar" id="article-list" class="h-feed">
      {{ .Site.Pages }}
      {{ .Site }}
      {{ (where .Site.Pages "Section" "blog" )}}
        {{ range .Site.Pages }}
        {{ partial "article-li" . }}
        {{ end }}
        {{ range (where .Site.Pages "Params.featured" true ) }}
        {{ partial "article-li" . }}
        {{ end }}
    </ul>
</nav>
  <time class="dt-published">{{ .Date }}</time>
      <article class="md p-summary e-content">
        <h2 class="p-name">
          {{ .Title }}
        </h2>
        <a href="{{ .Params.uri }}" target="_blank">{{ .Params.uri }}</a>
        {{ .Content }}
        <!-- Bridgy -->
        <a class="hidden" href="https://brid.gy/publish/mastodon"></a>
        <a class="hidden" href="https://brid.gy/publish/twitter"></a>
        <a class="hidden" href="https://fed.brid.gy/"></a>
        <data class="p-bridgy-omit-link" value="false"></data>
      </article>
</div>
{{ end }}

{{ define "footer" }}
<footer>
  {{ partial "pagination" . }}
</footer>
{{ end }}
